// Import a Google Font
// @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&subset=chinese-traditional");
// https://type-scale.com/?size=16&scale=1.250&text=A%20Visual%20Type%20Scale&font=Poppins&fontweight=400&bodyfont=Noto%20Sans%20HK&bodyfontweight=400&lineheight=1.5&backgroundcolor=&fontcolor=%23333&preview=false
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:400,700,900");
//
html {
  font-size: 100%;
}

body {
  font-family: "Noto Sans HK", Microsoft JhengHei, "PingFang HK",
    "Helvetica Neue", "Heiti TC", "Microsoft JhengHei", Arial, sans-serif;
  font-size: 1rem; // 16px
  line-height: 1.5;
  color: var(--text);
  /*
  @media (max-width: 575.98px) {
    body {
      font-size: 14px;
    }
  }
  */
}

p {
  letter-spacing: 1px;
  margin-bottom: 1.15rem;
  text-align: justify;
  word-break: break-all;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 2.75rem 0 1.05rem;
  line-height: 1.15;
  font-weight: bold;
}

h1 {
  margin-top: 0;
  font-size: 4.209em;
}

h2 {
  font-size: 3.157em;
}

h3 {
  font-size: 2.369em;
}

h4 {
  font-size: 1.777em;
}

h5 {
  font-size: 1.333em;
}

small,
.text_small {
  font-size: 0.75em;
}

/*==========Firefox: remove the dotted outline==========*/
a:focus,
a:active,
button,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  outline: 0 !important;
}

button:focus,
button:active {
  outline: 0 !important;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
}
